In [1]:
import pandas as pd
import seaborn as sb
import matplotlib.pyplot as plt
import scipy.stats

In [2]:
%matplotlib inline

In [3]:
queries = pd.read_csv('christmas_queries.csv')

In [16]:
queries.head()

   Unnamed: 0       start       country  queries  replacedate
0           1  2015-11-01  christmas.GB       47            1
1           2  2015-11-02  christmas.GB       43            2
2           3  2015-11-03  christmas.GB       42            3
3           4  2015-11-04  christmas.GB       42            4
4           5  2015-11-05  christmas.GB       44            5

In [5]:
queries.country.unique()

array(['christmas.GB', 'christmas.CA', 'christmas.PT', 'christmas.US',
       'christmas.AT', 'christmas.AU', 'christmas.ZA', 'christmas.NZ'], dtype=object)

In [22]:
queries.groupby('country').agg("mean")

              Unnamed: 0    queries  replacedate
country
christmas.AT       135.5   4.500000         15.5
christmas.AU       195.5  34.200000         15.5
christmas.CA        45.5  39.766667         45.5
christmas.GB       135.5  62.600000         15.5
christmas.NZ       285.5  31.433333         45.5
christmas.PT        75.5   4.133333         15.5
christmas.US       135.5  35.933333         45.5
christmas.ZA       225.5  14.133333         45.5

# Grouping country release dates
- AT/AU/GB/PT
- CA/NZ/US/ZA

In [ ]:
queries.

In [23]:
queries['weekday'] = queries['start'].dt.dayofweek

AttributeError: Can only use .dt accessor with datetimelike values