In [1]:
from src.build_features import *
import pandas as pd

In [2]:
input_df = pd.DataFrame({'A': pd.Categorical(["cradiff", "cardiff", "bristol", "pardiff", "cardif"]),
                         'B': pd.Categorical(["b", "b", "a", "a", "a"])})

In [3]:
print input_df

         A  B
0  cradiff  b
1  cardiff  b
2  bristol  a
3  pardiff  a
4   cardif  a

In [4]:
check_for_similar_values(input_df, 'A')

[['cradiff', 'cardiff', 0.8571428571428571],
 ['cardiff', 'pardiff', 0.8571428571428571],
 ['cardiff', 'cardif', 0.9230769230769231]]

In [11]:
from itertools import combinations
L = [1,2,3,4,5]
# (combinations(L, 2))
[comb for comb in combinations(L, 2)]

[(1, 2),
 (1, 3),
 (1, 4),
 (1, 5),
 (2, 3),
 (2, 4),
 (2, 5),
 (3, 4),
 (3, 5),
 (4, 5)]

In [36]:
result = replace_value(input_df, 'A', 'b', 'c').to_dict()

In [41]:
expected = {'A': {0: 'a', 1: 'c', 2: 'a', 3: 'a'}, 
            'B': {0: 'b', 1: 'b', 2: 'a', 3: 'a'}}

In [42]:
cmp(result, expected)

0

In [40]:
print expected

{'A': ['a', 'c', 'a', 'a'], 'B': ['b', 'b', 'a', 'a']}

In [39]:
print result

{'A': {0: 'a', 1: 'c', 2: 'a', 3: 'a'}, 'B': {0: 'b', 1: 'b', 2: 'a', 3: 'a'}}

In [2]:
input_df2 = pd.DataFrame({'A': pd.Categorical(["cradiff", "cardiff", "bristol", "pardiff", "cardif"]),
                         'B': [1, 2, 5, 7, 8]})

In [3]:
find_unacceptable_values(input_df2, 'A', ["cardiff", "bristol"])

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>A</th>
      <th>B</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>cradiff</td>
      <td>1</td>
    </tr>
    <tr>
      <th>3</th>
      <td>pardiff</td>
      <td>7</td>
    </tr>
    <tr>
      <th>4</th>
      <td>cardif</td>
      <td>8</td>
    </tr>
  </tbody>
</table>
</div>

In [7]:
df = find_unacceptable_values(input_df2, 'B', '>=5')

In [ ]:
df.show()